<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Order confirmation</h1>
    <p>Thank you for your order below are detailed information about your order</p>
  </div>
  <div class="row">
    <table>
      <thead>
        <th scope="col" class="text-start">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total price</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="product-info">
              <img src="" alt="" class="product-image">
              <span class="product-name">Produce name</span>
            </div>
          </td>
          <td>2</td>
          <td>100</td>
          <td>200</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="text-center mt-3">
    <button class="btn btn-gradient">Continue shopping</button>
  </div>
</div>
<app-footer></app-footer>
