<footer class="text-white pt-4 footer">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h5>Company Name</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-4">
              <h5>Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Home</a></li>
                  <li><a href="#" class="text-white">About</a></li>
                  <li><a href="#" class="text-white">Services</a></li>
                  <li><a href="#" class="text-white">Contact</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Follow Us</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
                  <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                  <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                  <li><a href="#" class="text-white"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-12 text-center mt-3">
              <p>&copy; 2024 Company Name. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>
