<app-header></app-header>
<form #loginForm="ngForm">
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <div class="login-form mx-auto">
        <h2 class="login-header">Login</h2>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" name="phone"
            [(ngModel)]="phoneNumber"
            (input)="onPhoneChange()"
            (focus)="loginForm.form.markAsTouched()"
            required
            >
            <div class="divider-nospace"></div>
            <div *ngIf="phoneNumber.length < 6 && loginForm.form.touched">
              <p  style="color: rgba(255, 255, 255, 0.192);">
                Phone phải có ít nhất 6 ký tự</p>
            </div>

        </div>

        <div class="mt-5"></div>
        <div class="form-group password-field">
          <label for="password">Password</label>
          <input type="password" placeholder="Enter at least 3 characters" class="form-control" id="password"
          [(ngModel)]="password"
          name="password"
          (focus)="loginForm.form.markAsTouched()"
          required
          >
          <div class="divider-nospace"></div>
            <i class="password-toggle fas fa-eye-slash"></i>

        </div>
        <div class="form-group">
          <div class="form-check checkbox-text">
            <span style="display: flex">
              <input type="checkbox" class="form-check-input" id="remember">
              <label for="remember" class="form-check-label text-start">
                Remember login
              </label>
            </span>
            <a href="#" class="registe-link">Forget password</a>
          </div>
        </div>
        <div class="form-group">
          <select name="" id="" class="form-control access-right">
            <option selected disabled>Login permission</option>
            <option value="">User</option>
            <option value="">Admin</option>
          </select>
        </div>
        <button type="button" class="login-button"  (click)="login()" >Login</button>
        <div class="divider"></div>
        <p class="text-center">Are you Register<span><a href="#" class="register-link">Are you Create Account</a></span></p>

      </div>
    </div>
  </div>
</div>
</form>
<app-footer></app-footer>
